#footer {
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
    padding: 20px 0;
}

.footer__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__column {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.footer__column > ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 8px;
}