#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.interaction{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.primaire{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.secondaire{
    display: flex;
    flex-direction: column;
}

.liens {
    margin: 0 40px;
}

.two-column {
    display: flex;
    flex-direction: column;
}

.confidentialite {
    text-align: center;
}

.logo-compagnie {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

ul{
    list-style-type: none;
}

nav ul li a{
    color: var(--couleur-lien);
}

p{
    text-align: center;
}

/* Media query pour le mode desktop */
@media only screen and (min-width: 768px) {
    #footer {
        justify-content: space-around;
    }
    .contenu {
    flex-direction: row;
    }

    .interaction{
        justify-content: space-between;
        flex-direction: row;
    }

    .primaire{
        justify-content: space-between;
        flex-direction: row;
    }

    .secondaire{
        flex-direction: row;
    }
}
