.destinations-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Pour la fluidité sur iOS */
}

.destination {
    flex: 0 0 auto;
    margin-right: 10px;
}

.destination img {
    width: 300px;
    height: 300px;
    object-fit: cover; 
}


.controls {
    margin-top: 10px;
}

.controls button {
    font-size: 24px;
    cursor: pointer;
}
