.destinations-carousel {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.destination {
  flex: 0 0 auto;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destination img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}


.controls {
  margin-top: 10px;
}

.controls button {
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: color 0.3s ease;
}

.controls button:hover {
  color: #ff5722;
}

.destination {
  transition: transform 0.3s ease;
}

.destination:hover {
  transform: scale(1.05);
}

.destination h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.destination p {
  margin-top: 5px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .destinations-carousel {
    flex-wrap: wrap;
  }

  .destination {
    flex: 0 0 45%;
  }
}