body{
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    box-sizing: border-box;
}

.global{
    display: flex;
    justify-content: center;
    min-height: 30vh;
}

.global>section, .global > footer{
    // Flex : grow shrink basis;
    flex: 0 1 900px;
    padding: 5rem;
}

.global > header{
    flex: 0 1 1300px;
    padding: 5rem;
}

header, section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.galerie__section{
    display: flex;
    flex-direction: column;    
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;    
}

.entete__header{
    display: flex;    
    flex-direction: column;
}
/* Styles pour le blockquote */
blockquote {
    border-left: 4px solid var(--couleur-bouton-linear-gradient-1);
    margin: 20px 0;
    padding: 15px;
    background-color: var(--couleur-dedans-blockquote);
    color: #333;
    font-style: italic;
}

/*Les grandes zones dans la page principale*/

#accueil{
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-accueil);
}

.accueil__section {
    display: flex;
    flex-direction: column;
}

#galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
    z-index: 1;
    background: linear-gradient(180deg, var(--couleur-arriere-accueil), var(--couleur-arriere-evenement));
}

#evenement{
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
    position: relative;
}

.evenement__section{
    display: flex;
    flex-direction: column;
}

#footer {
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
    padding: 20px 0;
}

.footer__section {
    max-width: 1200px;
    margin: 0 auto;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__column {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}


