body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }
  
  .global {
    display: flex;
    justify-content: center;
  }
  
  .global>section, .global>footer {
    flex: 0 1 1100px;
    padding: 5rem;
  }
  
  
  header, section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .galerie__section {
    display: flex;
    flex-direction: column;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #entete {
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
  }
  
  .entete__header {
    display: flex;
    flex-direction: column;
  }
  
  blockquote {
    border-left: 4px solid var(--couleur-bouton-linear-gradient-1);
    margin: 20px 0;
    padding: 15px;
    background-color: var(--couleur-dedans-blockquote);
    color: #333;
    font-style: italic;
  }
  
  #accueil {
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-accueil);
  }
  
  .accueil__section {
    display: flex;
    flex-direction: column;
  }
  
  #galerie {
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
    z-index: 1;
    background: linear-gradient(180deg, var(--couleur-arriere-accueil), var(--couleur-arriere-evenement));
  }
  
  #evenement {
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
    position: relative;
  }
  
  .evenement__section {
    display: flex;
    flex-direction: column;
  }
  