.section__voyage {
    display: flex;
    flex-wrap: wrap;
    gap : 1rem;
}

.carte {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 calc(1000px / 4);
    background-color: hsl(var(--hu1), var(--s-couleur-arriere), 75%);
    border-radius: 15px; /* Bordures arrondies légèrement plus prononcées */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Ombre plus prononcée */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition sur la transformation et l'ombre */
    overflow: hidden; /* Pour cacher les coins arrondis des enfants */
}

.carte:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.carte * {
    overflow: hidden;
    text-align: center;
}


.post-categories{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.post-categories a{
    color: var(--couleur-lien);
}

.post-categories a:hover{
    color: var(--couleur-lien-hover);
}