.section__categories {
    margin-top: 20px;
}

.categories {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
}

.categories h4 {
    margin-top: 0;
}

.categories p {
    margin-bottom: 5px;
}

.categories a {
    color: #007bff;
    text-decoration: none;
}

.categories a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .section__categories {
        padding: 10px;
    }

    .categories {
        border-radius: 5px;
    }
}

@media only screen and (min-width: 769px) {
    .section__categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .categories {
        flex-basis: calc(33.33% - 20px);
        margin-bottom: 20px;
    }
}