.menu-principal-container {
  border: 2px solid red;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 80%;
  height: 100%;
  background-color: var(--couleur-bouton-linear-gradient-2);
  transform: translateX(-200%);
  transition: transform 0.3s ease; 
  @media screen and (min-width: 700px) {
    position: static;
    width: 100%;
    height: auto;
    transform: translateX(0%);
  }
}

#menu-principal {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 700px) {
    flex-direction: row;
  }
}

#menu-principal li {
  display: flex;
  flex: 1;
}

.menu-item a {
  color: var(--couleur-lien);
}

#chk_burger {
  display: none;
}

#burger {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  @media screen and (min-width: 700px) {
    display: none;
  }
}

#chk_burger:checked ~ .menu-principal-container {
  transform: translateX(0);
}
