/* Style for the navigation container */
.menu-principal-container {
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    position: static;
    transform: translateX(0); /* Change translateX value */
  }
}

/* Style for the navigation menu */
#menu-principal {
  display: flex; /* Uncomment this line */
  flex-direction: column;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--couleur-bouton-linear-gradient-2);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  flex: 0 1 100%;
  padding: 5rem; /* Remove this line */
  padding: 0;
}

/* Style for each navigation item (list item) */
.menu-item {
  color: black;
}

/* Optional: Add some styling for the links */
.menu-item a {
  text-decoration: none;
  color: inherit; /* Inherit color from the parent .menu-item */
  padding: 10px; /* Add padding to make it visually appealing */
  display: block; /* Make the entire link area clickable */
}

/* Optional: Style for the active link */
.menu-item a:hover {
  background-color: lightgray;
  border-radius: 5px;
}

#chk_burger {
  display: none;
}

#burger {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

#chk_burger:checked ~ .menu-principal-container {
  transform: translateX(-100%); /* Change translate value */
}
