.menu-principal-container {
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    position: static;
    transform: translateX(0);
  }
}


#menu-principal {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--couleur-bouton-linear-gradient-2);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  flex: 0 1 100%;
  padding: 5rem;
  padding: 0;
}


.menu-item {
  color: black;
}


.menu-item a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  display: block;
}


.menu-item a:hover {
  background-color: lightgray;
  border-radius: 5px;
}

#chk_burger {
  display: none;
}

#burger {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

#chk_burger:checked ~ .menu-principal-container {
  transform: translateX(-100%);
}
