// Sélecteur textuel de base

/*https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjUwMHB4IiwibWF4V2lkdGgiOiI5MDBweCIsIm1pbkZvbnRTaXplIjoiMTZweCIsIm1heEZvbnRTaXplIjoiNDhweCJ9*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/clamp*/


h1 {
    font-size: clamp(2rem, 2.075rem + 4vw, 5rem);
}

h2 {
    font-size: clamp(1.5rem, 0.5714rem + 3.7143vw, 3.75rem);
}

h3 {
    font-size: clamp(1.25rem, 1.25rem + 2.5vw, 2.125rem);
}



h4, h5, p {
    font-size: clamp(0.9rem, 0.9rem + 1vw, 1.25rem);
}

h6 {
    font-size: clamp(0.8rem, 0.8rem + 0.8vw, 1rem);
}